{% extends 'base.html' %}

{% block title %}Dinner Buddy Meal Planner{% endblock %}

{% block extrahead %}
    <style>
        .planner-column {
            padding: .4rem;
        }

        .day-of-week-check {
            display: none;
        }

        .day-of-week-check:checked + label {
            background: #5755d9;
            color: white;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="planner-column col-4">
                <div class="panel">
                    <div class="panel-header">
                        <div class="panel-title h4">Options</div>
                    </div>
                    <div class="panel-body">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div>
                                <label>Days of Week</label>
                                <div class="form-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <input name="days_of_week" value="Sunday" class="day-of-week-check" type="checkbox"
                                           id="btncheck1">
                                    <label class="btn btn-check" for="btncheck1">Sun</label>
                                    <input name="days_of_week" value="Monday" class="day-of-week-check" type="checkbox"
                                           id="btncheck2">
                                    <label class="btn btn-check" for="btncheck2">Mon</label>
                                    <input name="days_of_week" value="Tuesday" class="day-of-week-check" type="checkbox"
                                           id="btncheck3">
                                    <label class="btn btn-outline-primary" for="btncheck3">Tue</label>
                                    <input name="days_of_week" value="Wednesday" class="day-of-week-check"
                                           type="checkbox"
                                           id="btncheck4">
                                    <label class="btn btn-outline-primary" for="btncheck4">Wed</label>
                                    <input name="days_of_week" value="Thursday" class="day-of-week-check"
                                           type="checkbox"
                                           id="btncheck5">
                                    <label class="btn btn-outline-primary" for="btncheck5">Thur</label>
                                    <input name="days_of_week" value="Friday" class="day-of-week-check" type="checkbox"
                                           id="btncheck6">
                                    <label class="btn btn-outline-primary" for="btncheck6">Fri</label>
                                    <input name="days_of_week" value="Saturday" class="day-of-week-check"
                                           type="checkbox"
                                           id="btncheck7">
                                    <label class="btn btn-outline-primary" for="btncheck7">Sat</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Max prep time</label>
                                {{ options_form.max_prep_time }}
                            </div>
                            <div>
                                <label>Dietary restrictions</label>
                                {{ options_form.dietary_restrictions }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">Ingredients Included</label>
                                {{ options_form.ingredients_included }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">Ingredients Excluded</label>
                                {{ options_form.ingredients_excluded }}
                            </div>
                            <div class="form-group">
                                <label class="form-switch">
                                    <input name="instant_pot" type="checkbox">
                                    <i class="form-icon"></i> Instant Pot?
                                </label>
                            </div>
                            <div class="panel-footer">
                                <button type="submit"
                                        class="btn">
                                    Go
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="planner-column col-5">
                <div class="panel">
                    <div class="panel-header">
                        <div class="panel-title h4">Recipes</div>
                    </div>
                    <div class="panel-body">
                        {% if state == "no_results" %}
                            <p>Your recipes will display here</p>
                        {% endif %}
                        {% if state == "show_results" %}
                            {% for entry in days_to_recipes %}
                                <h6>{{ entry.0 }}</h6>
                                <p>{{ entry.1.name }}</p>
                                <p class="text-muted">{{ entry.1.description }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="planner-column col-3">
                <div class="panel">
                    <div class="panel-header">
                        <div class="panel-title h4">Grocery List</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}