<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    {% block extrahead %} {% endblock %}

    <style>
        body {
            padding: .6rem;
        }
    </style>
</head>

<body>
<header class="navbar mb-5">
    <section class="navbar-section">
        <a href="#" class="navbar-brand text-bold mr-2">Dinner Buddy</a>
        <a href="https://github.com/rcmendez23/dinner-buddy" class="btn btn-link">GitHub</a>
    </section>
    <section class="navbar-section">
        <div class="input-group input-inline">
            <figure class="avatar badge" data-badge="8" data-initial="YZ">
                <img src="{% static "avatar-1.png" %}" alt="YZ">
            </figure>
        </div>
    </section>
</header>
{% block content %}{% endblock %}
</body>

</html>